@model ResearchManagementSystem.Models.AddUtilization

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AddUtilization</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductionId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AddAccomplishment.ProductionId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CertificateofUtilizationData)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CertificateofUtilizationData)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CertificateofUtilizationFileName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CertificateofUtilizationFileName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.UtilizationId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
