@model IEnumerable<ResearchManagementSystem.Models.AddUtilization>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductionId)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.CertificateofUtilizationFileName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AddAccomplishment.ProductionId)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.CertificateofUtilizationFileName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.UtilizationId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.UtilizationId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.UtilizationId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
